<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      Thanks for creating an event on imBored!

      If you're cool, lots of people will join your event. If not, you've probably spent all your time on your Rails project and don't have any friends.

      Best wishes,

      The imBored Team
    </p>
  </body>
</html>