<% if not group.users.include? current_user %>
 	<%= button_to join_group_path(:group_id => group.id), :class=> "btn btn-success", :method => :patch do %>
 		<div>Join Group</div>
 		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
 	<% end %>
<% else %>
	<%= button_to leave_group_path(:group_id => group.id), :class=> "btn btn-danger", :method => :delete do %>
		<div>Leave Group</div>
 		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
 	<% end %>
<% end %>