<div class="group-wrapper">
	<div class="container groups-container">
		<div id="side" class="col-md-2" style="margin-top: 14px">
			<%= render 'group_button', group: @group %>
		</div>
		<h1 id="group-title"><%= @group.name %></h1>
		<div><%= @group.description %></div>
		<% if @group.users.size > 0 %>
			Members:
			<ul>
				<% @group.users.each do |user| %>
					<li> <%= user.name %> </li>
				<% end %>
			</ul>
		<% else %>
			This group is empty!
		<% end %>
	</div>
</div>