<% content_for :title do %>About<% end %>

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-left">
            <h1>About imBored</h1>
            <p class="lead">
            imBored allows users to connect with the click of a button. It’s Friday night, you’re scrolling through IG and lets be real, you’re bored. It’s time to get your shit together and hit up some homies. But you don’t want to hang with just anyone. You have a select list of people you’re down to chill with, so you create a group and BOOM! you pop up on their screen notifying that yes, you are BORED. If you’re both bored and want to chill, then the app will tell let you & hit them up for some cool Things To Do.
            </p>
            <ul class="list-unstyled">
                <li></li>
                <li></li>
            </ul>
        </div>
        <%= image_tag "penguin1.jpg" %>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->