// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups-container {
	width: 850px;
}

a[class="group-link"] {
	color: #000;
	text-decoration: none;
}

.group-item {
	height: 130px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 4px solid LightGreen;
	border-radius: 10px;
	div {
		float: none;
	}
	&:hover {
		background-color: Honeydew;
	}
}

.group-wrapper #side {
	float: right;
	padding: 2px;
	height: 100%;
	form[class="button_to"] {
		height: 100%;
		display: flex;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	button {
		padding: 0;
		width: 96px;
		margin-left: auto;
		margin-right: auto;
	}
}

#group-info div {
	word-wrap: break-word;
}